.print
  width: 21.0cm
  margin: 0 auto
  height: 29.7cm

p
  font-size: 1.3em
  font-weight: bolder
.right
  margin-top: -34px
  font-size: 1.3em
  font-weight: bolder
  float: right
  margin-right: 200px
  // background-color: #333