.print
  width: 21.0cm
  margin: 0 auto
  height: 29.7cm

p
  font-size: 1.3em
  font-weight: bolder
.right
  margin-top: -34px
  font-size: 1.3em
  font-weight: bolder
  float: right
  // margin-right: 200px
  // background-color: #333

.chose
  margin-left: 12px

#ctrl
  position: fixed
  top: 100px
  left: 20px

@media print
  #ctrl
    display: none
  input
    border: 0px solid white

img
  position: absolute
  top: 100
  left: 200
  margin-left: 200px
  width: 800px

.mask
  position: absolute
  top: 100
  left: 200
  .text-1
    margin-left: 258px
    margin-top: 450px
  .text-2
    margin-left: 360px
    margin-top: 450px
