.print
  width: 21.0cm
  margin: 0 auto
  height: 29.7cm

p
  font-size: 1.3em
  font-weight: bolder
.right
  margin-top: -34px
  font-size: 1.3em
  font-weight: bolder
  float: right
  // margin-right: 200px
  // background-color: #333

.chose
  margin-left: 12px

#ctrl
  position: fixed
  top: 100px
  left: 20px

@media print
  #ctrl
    display: none
  input
    border: 0px solid white
  img
    display: none
  .mask
    padding-top: 140px
    margin-left: -200px
    left: 0px

img
  position: absolute
  top: 100
  left: 200
  margin-left: 200px
  width: 800px

.mask
  position: absolute
  top: 100
  left: 200
  font-size: 0.8em
  *
    position: absolute
    top: 0px
    left: 0px
    width: 200px
  .text-1
    margin-left: 258px
    margin-top: 450px
  .text-2
    margin-left: 370px
    margin-top: 450px
  .text-3
    margin-left: 258px
    margin-top: 480px
  .text-4
    margin-left: 370px
    margin-top: 480px
