@import "compass/css3/flexbox"
@import "compass/typography/lists/inline-list"

.job
  float: left
  position: relative
  width: 150px
  height : 180px
  max-height: 160px
  overflow: visible
  margin-right: 4px
  cursor: -webkit-grab
  // padding-bottom: 40px
  &:last-child
    margin-right: 22px
  .toRight
    margin-left: auto
  button
    position: absolute
    bottom: 4px
    left: 4px


.lineName
  margin-right: 12px

.day
  float: left
  min-width: 150px
  margin-right: 12px
  border-radius: 8px
  background-color: #F5F5F5

.dayTitle
  text-align: center

.line
  height: 600px
  max-width: 800px
  min-height: 140px
  padding-left: 12px
  // @include display-flex
  // @include align-items(center)

.wrapper
  width: 200000px
  padding-left: 32px

.screen
  width: 100%
  overflow-x: scroll

.info
  position: absolute
  right: 8px
  top: calc( 100% - 24px)
  height: 16px
  width: 16px
  cursor: pointer

#newJobTable
  z-index: 99
  position: fixed
  //max-width: 200px
  bottom: 0px
  left: 0px

#deleteJobTable
  background-image: url('../trash.png')
  z-index: 99
  position: fixed
  right: 00px
  bottom: 0px
  width: 100px
  height: 100px
  opacity: 0.5
  & .job
    opacity: 0
  & span
    position: absolute
    top: 15px
    left: 30px
