doctype html
html
  head
    title lokovei 內部訂單管理
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" )
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" )
    //- script(src="javascript/jquery-2.1.4.min.js")
    //- link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
    //- script(src="javascript/bootstrap.min.js")
  body
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/order') lokovei 內部訂單管理
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/order') 訂單佇列
            li
              a(href='/factory') 產線佇列
          //- form.navbar-form.navbar-left(role='search')
          //-   .form-group
          //-     input.form-control(type='text', placeholder='Search')
          //-   button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') 您好，陳柏安
            li
              a(href='#' type='button', data-toggle='modal', data-target='#loginDialog').btn-lg 登入
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                | 工作台
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/crud/product') 產品設定
                li
                  a(href='/crud/line') 產線設定
                li
                  a(href='/crud/battery') 電池型號設定
                li
                  a(href='/crud/customer') 經銷商資訊設定
                li.divider
                li
                  a(href='/crud/account') 帳號管理
    //- login dialog
    form.form-inline(role='form')
      #loginDialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title lokovei 內部訂單管理 登入
            .modal-body
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              .form-group
                label.sr-only(for='exampleInputEmail2') 帳號
                input#exampleInputEmail2.form-control(type='text', placeholder='帳號')
              | &nbsp;&nbsp;&nbsp;&nbsp;
              .form-group
                label.sr-only(for='exampleInputPassword2') 密碼
                input#exampleInputPassword2.form-control(type='password', placeholder='密碼')

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button.btn.btn-primary(type='button') Login

    block content