/* line 1, ../sass/print_order.sass */
.print {
  width: 21cm;
  margin: 0 auto;
  height: 29.7cm;
}

/* line 6, ../sass/print_order.sass */
p {
  font-size: 1.3em;
  font-weight: bolder;
}

/* line 9, ../sass/print_order.sass */
.right {
  margin-top: -34px;
  font-size: 1.3em;
  font-weight: bolder;
  float: right;
}

/* line 17, ../sass/print_order.sass */
.chose {
  margin-left: 12px;
}

/* line 20, ../sass/print_order.sass */
#ctrl {
  position: fixed;
  top: 100px;
  left: 20px;
}

@media print {
  /* line 26, ../sass/print_order.sass */
  #ctrl {
    display: none;
  }

  /* line 28, ../sass/print_order.sass */
  input {
    border: 0px solid white;
  }
}
/* line 31, ../sass/print_order.sass */
img {
  margin-left: 200px;
  width: 800px;
}

/* line 35, ../sass/print_order.sass */
.mask {
  position: absolute;
  top: 100;
  left: 200;
}
/* line 39, ../sass/print_order.sass */
.mask .text-1 {
  position: absolute;
  top: 100;
  left: 200;
}
