/* line 4, ../sass/queue_factory.sass */
.job {
  float: left;
  position: relative;
  width: 150px;
  height: 130px;
  max-height: 160px;
  overflow: visible;
  margin-right: 4px;
  cursor: -webkit-grab;
}
/* line 13, ../sass/queue_factory.sass */
.job:last-child {
  margin-right: 22px;
}
/* line 15, ../sass/queue_factory.sass */
.job .toRight {
  margin-left: auto;
}
/* line 17, ../sass/queue_factory.sass */
.job button {
  position: absolute;
  bottom: 4px;
  left: 4px;
}

/* line 23, ../sass/queue_factory.sass */
.lineName {
  margin-right: 12px;
}

/* line 26, ../sass/queue_factory.sass */
.day {
  float: left;
  min-width: 150px;
  margin-right: 12px;
  border-radius: 8px;
  background-color: #F5F5F5;
}

/* line 33, ../sass/queue_factory.sass */
.dayTitle {
  text-align: center;
}

/* line 36, ../sass/queue_factory.sass */
.line {
  height: 600px;
  max-width: 800px;
  min-height: 140px;
  padding-left: 12px;
}

/* line 44, ../sass/queue_factory.sass */
.wrapper {
  width: 200000px;
  padding-left: 32px;
}

/* line 48, ../sass/queue_factory.sass */
.screen {
  width: 100%;
  overflow-x: scroll;
}

/* line 52, ../sass/queue_factory.sass */
.info {
  position: absolute;
  right: 8px;
  top: calc( 100% - 24px);
  height: 16px;
  width: 16px;
  cursor: pointer;
}

/* line 60, ../sass/queue_factory.sass */
#newJobTable {
  position: fixed;
  bottom: 0px;
  left: 0px;
}
