/* line 4, ../sass/queue_factory.sass */
.job {
  width: 180px;
  min-width: 180px;
  max-height: 230px;
  margin-right: 4px;
  cursor: -webkit-grab;
}
/* line 11, ../sass/queue_factory.sass */
.job:last-child {
  margin-right: 22px;
}
/* line 13, ../sass/queue_factory.sass */
.job .toRight {
  margin-left: auto;
}

/* line 18, ../sass/queue_factory.sass */
.lineName {
  margin-right: 12px;
}

/* line 21, ../sass/queue_factory.sass */
.day {
  float: left;
  border-radius: 8px;
  background-color: #F5F5F5;
  margin-right: 12px;
}

/* line 28, ../sass/queue_factory.sass */
.dayTitle {
  text-align: center;
}

/* line 32, ../sass/queue_factory.sass */
.line {
  height: 180px;
  padding-left: 12px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 45, ../sass/queue_factory.sass */
.wrapper {
  width: 200000px;
  padding-left: 32px;
}

/* line 49, ../sass/queue_factory.sass */
.screen {
  width: 100%;
  overflow-x: scroll;
}

/* line 53, ../sass/queue_factory.sass */
.info {
  margin-right: 2px;
  padding-right: 4px;
  float: right;
  cursor: pointer;
}
