/* line 3, ../sass/queue_factory.sass */
.job {
  width: 200px;
  min-width: 200px;
  max-height: 230px;
}

/* line 8, ../sass/queue_factory.sass */
.day {
  height: 230px;
  border-radius: 8px;
  padding-left: 22px;
  border: 1px solid #DEDEDE;
  width: 100%;
  overflow-x: scroll;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

/* line 19, ../sass/queue_factory.sass */
.wrapper {
  width: 100%;
  padding-left: 32px;
}
/* line 22, ../sass/queue_factory.sass */
.wrapper .thumbnail {
  float: left;
  margin-right: 12px;
}
